.form-container {
    padding: 10px 5px;
}

.field-container {
    min-height: 325px;
}

.button-container {
    position: relative;
    margin: -20px 0px;
}

.create-new-button {
    position: absolute;
    font-size: 1.75rem;
    top: 20px;
    right: 75px;
}

.cancel-button {
    position: absolute;
    font-size: 1.75rem;
    top: 20px;
    left: 75px;
}

.text-row {
    margin: 20px 0px;
    font-size: 1.5rem;
}

.error {
    color: red;
    font-size: 1rem;
}

.field-row {
    border: 0;
    outline: 0;
    width: 75%;
    font-size: 1.5rem; 
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.field-row:focus {
    border-bottom: 3px solid lime;
    transition: 0.15s ease-in-out all;
}

.input-container {
    min-height: 100px;
}