.green-container {
    z-index: 2000;
    position: absolute;
    background-color: rgb(108, 255, 108);
    border-radius: 1rem;
    border: 4px solid green;
    top: 12px;
    right: 50px;
    max-width: 400px;
}

.red-container {
    z-index: 2000;
    position: absolute;
    background-color: rgb(255, 169, 169);
    border-radius: 1rem;
    border: 4px solid red;
    top: 12px;
    right: 50px;
    max-width: 400px;
}

.default-container {
    z-index: 2000;
    position: absolute;
    background-color: rgb(199, 199, 199);
    border-radius: 1rem;
    border: 4px solid black;
    top: 12px;
    right: 50px;
    max-width: 400px;
}

.toast-header {
    padding: 1rem 1rem 0.25rem 1rem;
}

.toast-button {
    position: absolute;
    right: 3px;
    top: 2px;
    background: none;
    font-size: 1rem;
    border: none;
}

.toast-body {
    padding: 0.5rem 1rem 1rem 1rem;
}