@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.list-container {
    min-height: 325px;
    max-height: 325px;
    overflow: auto;
}

.cancel-button {
    position: absolute;
    font-size: 1.75rem;
    top: 20px;
    left: 75px;
}

.pac-container {
    text-align: center;
}

.pac-button {
    font-size: 1.5rem;
    margin-top: 20px;
    transform: translate(-15px, 0px);
}

.submit-button {
    position: absolute;
    font-size: 1.75rem;
    top: 20px;
    right: 75px;
}

.button-row {
    position: relative;
}